.tech-pill {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "JetBrains Mono", monospace;
  color: white;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.project-source-code-div {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem; /* ✅ Add this line */
}
  