.project-div{
    padding-top: 1rem;
    padding-left: 1rem;
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.studd-p{
    font-family: "JetBrains Mono", monospace;
    font-size: 1.5rem;
    font-weight: 600;
}

.project-Details-div {
    width: 100%;
    height: auto;
    max-height: 85vh;
    display: grid;
    grid-template-columns: repeat(2, minmax(450px, 1fr));
    gap: 20px; 
    justify-items: center; 
    overflow: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
     scrollbar-width: none;          
}
.project-Details-div::-webkit-scrollbar {
    display: none;
}



.project-image-div{
    border-radius: 15px;
    height: 100%;
    width: 100%;
}

.first-project{
    border-radius: 15px;
    background-color: #1F2428;
    max-width: 30vw;
    /* width: 60%; */
    width: auto;
    height: 70vh;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 3%;
    margin: 0 auto;
    padding-bottom: 5px;
}

.project-details-inner-bottom-div{
    padding: 1rem;
    height: 100%;
}

.project-source-code-div{
    display: flex;
    justify-content: space-between;
}

.project-source-code-div a{
    border-bottom: .15rem solid orange;
    font-family: "JetBrains Mono", monospace;
}
.project-source-code-div a:hover {
    border-bottom: .15rem solid rgb(255, 97, 53);
}
.project-details-inner-bottom-div p, h2{
    font-family: "JetBrains Mono", monospace;
}

.project-details-inner-bottom-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: .2rem;
}

.technologies-used-div{
    display: flex;
    flex-direction: column;
    gap: .2rem;
}
.project-details-span-div {
    display: flex;
    gap: .8rem;
    flex-direction: row;
    width: 100%;
}

.project-details-span-div  ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1.5rem;
    gap: 1rem;
    column-gap: 2rem;
}


@media (max-width: 768px) {
    .project-Details-div {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .project-div{
        padding: 1rem;
    }
    .first-project{
        max-width: 100%;
        align-items: center;
    }
    .project-div{
        width: 98%;
    }
    .project-details-span-div ul{
        margin-left: 0;
    }
}

.project-details-inner-bottom-div h2{
    color: white;
    width: max-content;
    border-bottom: 1px solid rgb(209, 87, 207);
}