aside{
    background-color: #24292E;
    /* min-width: 40px; */
    width: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding-top: 20px; */
}

.top-aside-Div , .bottom-aside-Div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.copy-div , .github-div ,.fragmented-div ,.pen-div ,.mail-div,.user-aside-div,.setting-aside-div{
    display: flex;
    justify-content: center;
    height: 7vh;
    width: 100%;
}

.copy-div , .github-div ,.fragmented-div ,.pen-div ,.mail-div,.user-aside-div,.setting-aside-div:hover{
    background-color: #24292E;
    cursor: pointer;
}


.copy-div-active , .mail-div-active , .fragmented-div-active , .pen-div-active , .github-div-active , .fragmented-div-active{
    background-color: #313131;
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: solid #F9826C 2px;
}


.pen-div-active img{
    width: 100%;
    height: 50%;
}









@media (max-width:768px){
 aside{
    width: 12vw;
 }
}