.about{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.about p{
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 3rem;
}
@media(max-width:768px){
    .about{
        padding: 1rem;
    }
    .about p{
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
}
