footer{
    border-top: 1px solid black;
    background-color: #24292E;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 3vh;
    padding-left: 1vw;
    padding-right: 1vw;
    align-items: center;
    font-size: 13px;
    z-index: 10;
    position: relative;
}

footer div{
    display: flex;
}

footer div img{
    width: 1rem;
    height: 1rem;
}

.footer-left-div{
    display: flex;
    gap: .8rem;
    align-items: center;
}
.footer-left-div div{
    display: flex;
    align-items: center;
    gap: .2rem;
}