*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #E1E4E8;
  font-family: sans-serif;
  box-sizing: border-box;
}

.back{
  height: 100vh;
}

@media (max-width:768px){
  .home-div{
    width: 100%;
  }
}